.jumbotron {
	background-image: url('./images/portrait.jpg');
	background-size: cover;
	height: 900px;
	padding-top: 50px;
}

.padding {
	padding-right: 20px;
	text-align: center;
}

#heading {
	color: #f6f6f6;
	padding-top: -50px;
	padding-left: 40px;
}

#nav {
	color: #f6f6f6;
	float: right;
	text-align: center;
	padding-right: 15px;
	font-size: 18px;
}

#title {
	font-size: 50px;
	padding-top: 40px;
	color: #f6f6f6;
}

#btn1 {
	float: right;
	cursor: hand;
	border-radius: 5px;
}

#interests {
	background-color: #add8e6;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#proj {
	background-color: #474747;
	background-size: cover;
	overflow-x: hidden;
	padding-top: 100px;
	padding-bottom: 100px;
	width: 100%;
}

.project {
	border-radius: 25px;
	width: 500px;
	height: 500px;
}

#skills {
	background-color: #839CA5;
	background-size: cover;
	width: 100%;
	padding-bottom: 50px;
}

.img-circle {
    border-radius: 50%;
	width: 220px;
	height: 220px;
}



.carousel-inner > .item > img {
	margin-right: auto;
	margin-left: auto;
	width:540px;
	height:260px;
}
